<% provide(:title, "Le Her") %>

<h1> Introduction video </h1>

<p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/bUjlIcKAi7E" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</p>

<p><i>
this is <a href="https://youtu.be/IWd-2HmtQ_Y" target="_blank">after</a> the cold bath</i>
</p>

<h1>le Her</h1>
<p>
There is a book that talks about precursors in mathematical economics, in which mentions a Waldegrave who lived in late 17th century. He studied a game called <i>le Her </i> in French which is <i> the gentleman </i> in English and <i> der Herr </i> in German. He communicated with Monmort about his thoughts on how the game can be played. Monmort then forwarded the thread to Bernoulli and the three formed a slack.
</p>
<p>
Anyway, while the two latter mathematicians were discussing on ways of playing and the probability of winning followed by doing so, Waldegrave went further to describe a way of mixing over these <i>ways</i>, and made a remark that it was "such an unusual way of playing". It is truly remarkable that extra step Waldegrave took, because it comes just as natural.
</p>

<h2> The game </h2>
<i> as described by Kuhn </i>
<p> There are two players: A and B. A deals B a single card at random from an ordinary deck of cards, then deals a single card to himself; neither sees the card dealt to the other. The cards have value in order from the lowest to highest: ace, two, three.. ten, jack, queen, king. Who has higher card wins. So if B is not satisfied with his card, she can tell A to exchange cards, except if A has dealt herself a king, in that case A automatically wins. If B tells to exchange, and after the exchange, A is not happy, A can exchange it for another card dealt from the deck at random. However, if the third card dealt from the deck is a king, the exchange is not allowed and A has to keep her card and automatically loses. They now compare cards and who has higher card wins. If they hold equal cards, A wins.
</p>

<h2> Different ways to play </h2>
<p>
Because there are 13 possible cards, a way to play (policy) has to tell a player what to do in all 13 cases where she receives one of the 13 cards.
</p>

<p> Here is one such way, as an example: </p>



  

<footer>
  Discord: <a href="https://discord.gg/Jbjj6NS" target="_blank">chat</a>
  
  </footer>
