@import url('https://fonts.googleapis.com/css?family=Germania+One|Source+Sans+Pro');

h1, h2, h3 {
    font-family: 'Germania One', cursive;
    color: #e02340;

}
body {
    font-family: 'Source Sans Pro', sans-serif;
    color: #212e53;
}
