@import url('https://fonts.googleapis.com/css?family=Germania+One|Source+Sans+Pro');

h1, h2, h3 {
    font-family: 'Arvo', serif;
    //color: #e02340;

}
body {
    font-family: 'Arvo', sans-serif;
   // color: #212e53;
    font-size: 1.05em;
    line-height: 1.3;
}

.videoframe {
    width: 100%;
    max-width: 560px;
    height: auto;
}
